<div class="jumbotron">
  <h1>What's being planned in Hackney?</h1>
  <p class="lead">
    Find out when there are fresh planning permission
    applications in your local area.
  </p>
  <p>
    <a class="btn btn-lg btn-success" href="#" role="button">
      Sign up today
    </a>
  </p>
</div>

<div class="row marketing">
  <div class="col-lg-6">
    <h4>Find out what's happening nearby</h4>
    <p>
      Planning permission is being applied for all over the
      borough, find out when it matters to you.
    </p>
  </div>
  <div class="col-lg-6">
    <h4>Notifications the way you want them</h4>
    <p>Receive SMS or email notifications as often as you need.</p>
  </div>
</div>
